.keySpan {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #030405;
  border: 1px solid silver;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  height: 3em;
  width: 3em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  background-image: linear-gradient(rgba(245,245,245,1),rgba(255,255,255,1));
  margin: auto;
  opacity: 0;
  transition: 500ms;
}
.keySpan.show{
  opacity: 1;
}
.keySpan:before {
  content: '';
  box-sizing: content-box;
  position: absolute;
  border: 5px solid rgba(240,240,240,0.9);
  border-top: 2px solid rgba(240,240,240,0.9);
  border-bottom: 7px solid rgba(240,240,240,0.9);
  border-radius: 3px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255,0.1);
}